In [1]:
url_raw = 'https://github.com/IgorNascAlves/data_flight_delays/raw/main/data/concatenated_data.parquet'

In [2]:
# path = r'C:\Users\Igor\Desktop\dados\data\concatenated_data.parquet'

In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet(url_raw)

In [5]:
# df = pd.read_parquet(path)

In [6]:
df.head()

,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,4/1/2018 12:00:00 AM,ABE,"Allentown/Bethlehem/Easton, PA",Pennsylvania,ATL,"Atlanta, GA",Georgia,600,555.0,-5.0,...,0.0,135.0,116.0,101.0,692.0,NaN,NaN,NaN,NaN,NaN
1,4/1/2018 12:00:00 AM,ABE,"Allentown/Bethlehem/Easton, PA",Pennsylvania,ATL,"Atlanta, GA",Georgia,1304,1358.0,54.0,...,0.0,130.0,117.0,99.0,692.0,0.0,0.0,0.0,0.0,41.0
2,4/1/2018 12:00:00 AM,ABE,"Allentown/Bethlehem/Easton, PA",Pennsylvania,ATL,"Atlanta, GA",Georgia,1749,1746.0,-3.0,...,0.0,136.0,150.0,110.0,692.0,NaN,NaN,NaN,NaN,NaN
3,4/1/2018 12:00:00 AM,ABE,"Allentown/Bethlehem/Easton, PA",Pennsylvania,CLT,"Charlotte, NC",North Carolina,708,655.0,-13.0,...,0.0,129.0,140.0,91.0,481.0,NaN,NaN,NaN,NaN,NaN
4,4/1/2018 12:00:00 AM,ABE,"Allentown/Bethlehem/Easton, PA",Pennsylvania,CLT,"Charlotte, NC",North Carolina,1638,1624.0,-14.0,...,0.0,127.0,128.0,96.0,481.0,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(33663016, 28)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33663016 entries, 0 to 33663015
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   ORIGIN               object
 2   ORIGIN_CITY_NAME     object
 3   ORIGIN_STATE_NM      object
 4   DEST                 object
 5   DEST_CITY_NAME       object
 6   DEST_STATE_NM        object
 7   CRS_DEP_TIME         int64
 8   DEP_TIME             float64
 9   DEP_DELAY            float64
 10  TAXI_OUT             float64
 11  WHEELS_OFF           float64
 12  WHEELS_ON            float64
 13  TAXI_IN              float64
 14  CRS_ARR_TIME         int64
 15  ARR_TIME             float64
 16  ARR_DELAY            float64
 17  CANCELLED            float64
 18  DIVERTED             float64
 19  CRS_ELAPSED_TIME     float64
 20  ACTUAL_ELAPSED_TIME  float64
 21  AIR_TIME             float64
 22  DISTANCE             float64
 23  CARRIER_DELAY        float64
 24  WEATHER_DELAY        float64
 25  NAS_DELAY            float64
 26  SECURITY_DELAY       float64
 27  LATE_AIRCRAFT_DELAY  float64
dtypes: float64(19), int64(2), object(7)
memory usage: 7.0+ GB

In [9]:
fl_date = pd.to_datetime(df['FL_DATE'], format='%m/%d/%Y %I:%M:%S %p')
period_begin = fl_date.min().strftime('%Y-%m-%d')
period_end = fl_date.max().strftime('%Y-%m-%d')
print(f"\nPeriod of time:")
print(f"Begin date: {period_begin}")
print(f"End date: {period_end}")

Period of time:
Begin date: 2018-01-01
End date: 2023-03-31

In [10]:
# Filter flights with either origin or destination city name containing "New York"
ny_flights = df[df['ORIGIN_CITY_NAME'].str.contains('New York') | df['DEST_CITY_NAME'].str.contains('New York')]

# Print the filtered flight information
print(ny_flights.shape)

(2552934, 28)

In [11]:
ny_flights.head()

,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
51,4/1/2018 12:00:00 AM,ABQ,"Albuquerque, NM",New Mexico,JFK,"New York, NY",New York,2344,2355.0,11.0,...,0.0,246.0,215.0,195.0,1826.0,NaN,NaN,NaN,NaN,NaN
780,4/1/2018 12:00:00 AM,ATL,"Atlanta, GA",Georgia,JFK,"New York, NY",New York,810,808.0,-2.0,...,0.0,135.0,141.0,101.0,760.0,NaN,NaN,NaN,NaN,NaN
781,4/1/2018 12:00:00 AM,ATL,"Atlanta, GA",Georgia,JFK,"New York, NY",New York,1038,1036.0,-2.0,...,0.0,137.0,125.0,102.0,760.0,NaN,NaN,NaN,NaN,NaN
782,4/1/2018 12:00:00 AM,ATL,"Atlanta, GA",Georgia,JFK,"New York, NY",New York,1140,1215.0,35.0,...,0.0,139.0,142.0,108.0,760.0,8.0,0.0,3.0,0.0,27.0
783,4/1/2018 12:00:00 AM,ATL,"Atlanta, GA",Georgia,JFK,"New York, NY",New York,1205,1202.0,-3.0,...,0.0,142.0,119.0,101.0,760.0,NaN,NaN,NaN,NaN,NaN

In [12]:
ny_flights.tail()

,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
33662912,9/30/2019 12:00:00 AM,TYS,"Knoxville, TN",Tennessee,LGA,"New York, NY",New York,1353,1347.0,-6.0,...,0.0,120.0,118.0,99.0,648.0,NaN,NaN,NaN,NaN,NaN
33662913,9/30/2019 12:00:00 AM,TYS,"Knoxville, TN",Tennessee,LGA,"New York, NY",New York,1859,1856.0,-3.0,...,0.0,134.0,152.0,99.0,648.0,0.0,0.0,15.0,0.0,0.0
33662990,9/30/2019 12:00:00 AM,XNA,"Fayetteville, AR",Arkansas,LGA,"New York, NY",New York,711,705.0,-6.0,...,0.0,178.0,198.0,147.0,1147.0,NaN,NaN,NaN,NaN,NaN
33662991,9/30/2019 12:00:00 AM,XNA,"Fayetteville, AR",Arkansas,LGA,"New York, NY",New York,1629,1625.0,-4.0,...,0.0,180.0,169.0,148.0,1147.0,NaN,NaN,NaN,NaN,NaN
33662992,9/30/2019 12:00:00 AM,XNA,"Fayetteville, AR",Arkansas,LGA,"New York, NY",New York,1705,1726.0,21.0,...,0.0,189.0,189.0,166.0,1147.0,0.0,0.0,21.0,0.0,0.0

In [14]:
ny_flights.to_csv(r'..\data\ny_flights.csv',index=False)

In [15]:
del df